[submodule "00-Piscine_A.I."]
	path = 00-Piscine_A.I.
	url = git@github.com:mgkgng/42Projects-Piscine_A.I..git
[submodule "01-ft_linear_regression"]
	path = 01-ft_linear_regression
	url = git@github.com:mgkgng/42Projects-ft_linear_regression.git
